/**
  |============================
  | Global styles
  |============================
*/
:root {
  /* color */
  --white--color: #ffffff;
  --grey-color: #f7f7f7;
  --black--color: #111319;
  --text-color: #303030;
  --title-color: #555555;
  --active-color: #ff6c00;
  --second-text-color: #9da4bd;

  /* others */
  --indent: 30px;
  --items: 3;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: var(--text-color);
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.box {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 140px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid var(--active-color);

  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--active-color);
}

/**
  |============================
  | header
  |============================
*/

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}
.header-logo {
  margin-right: 124px;
}
.header-box {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.header-nav-link {
  display: block;
  padding: 15px 0;
  color: #ffffff;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--active-color);
}
.header-nav .list {
  display: flex;
  gap: 30px;
}

.header-tel {
  margin-right: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

/**
  |============================
  | hero
  |============================
*/
.hero {
  max-width: 1070px;
  height: 680px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 0;

  background-color: var(--black--color);
  background-image: url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--animation-color);
}

.hero-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.hero-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white--color);
}
.hero-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.hero-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  background-color: transparent;
  color: #ffffff;
}
.hero-btn:hover {
  color: rgba(157, 164, 189, 0.6);
}
/**
  |============================
  | about
  |============================
*/
.about {
  padding: 120px 0;
}
.about-box {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-right-side {
  width: 470px;
}
.about-subtirle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--text-color);
}
.about-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--text-color);
}
.about-desc {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--subtitle-color);
}
.about-text {
  margin-bottom: 42px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.about-btn {
  color: var(--text-color);
}
.about-btn:hover,
.about-btn:focus {
  color: var(--white--color);
}
/**
  |============================
  | services
  |============================
*/
.services {
  max-width: 1600px;
  padding: 120px 0;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--black--color);
  background-image: url(../images/bg-services.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services-subtirle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.services-title {
  margin-bottom: 44px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.services-list {
  display: flex;
  gap: 30px;

  margin-bottom: 44px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.services-inner-list {
  width: 570px;
  padding: 30px 20px;
}
.price-item:not(:last-child) {
  padding-bottom: 20px;
}
.services-btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | benefits
  |============================
*/
.benefits {
  padding: 120px 0;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: var(--text-color);
}
.benefits-caption {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
}
.benefits-sup {
  color: var(--animation-color);
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
.benefits-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.benefits-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.benefits-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.benefits-box {
  display: flex;
  gap: 130px;
}
.benefits-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.benefits-list .item {
  background: #f7f7f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.benefits-desc {
  width: 500px;
}
/**
  |============================
  | team
  |============================
*/
.team {
  padding: 120px 0;

  color: var(--text-color);
  background-color: var(--grey-color);
}
.team-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.team-title {
  margin-bottom: 44px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.team-img {
  margin-bottom: 30px;
}
.team-name {
  margin-bottom: 3px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-text {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--active-color);
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white--color);
}
.social-svg {
  fill: var(--text-color);
}
.social-link:hover .social-svg {
  fill: var(--active-color);
}

/**
  |============================
  | Card-set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

/**
  |============================
  | gallery
  |============================
*/
.gallery {
  padding: 120px 0;
}
.gallery-title {
}
.gallery-text {
  margin-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.gallery-list {
  display: flex;
  gap: 30px;
}
.list {
}
.gallery-img {
}
/**
  |============================
  | page-wrapper
  |============================
*/
.page-wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  gap: 30px;

  background-color: var(--black--color);
  background-image: url(../images/bg-contacts.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left calc(50% + 393px + 15px);
}
.booking {
  padding: 120px 0;
  flex-basis: 570px;
}
.contacts {
  padding: 120px 0;
  padding-left: 100px;
  flex-basis: 570px;
}
.booking-title {
  margin-bottom: 30px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--white--color);
}
.booking-btn {
  color: var(--white--color);
}
/**
  |============================
  | cotacts
  |============================
*/

.contacts-address {
  margin-bottom: 72px;
}
.contacts-title {
  margin-bottom: 44px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.contacts .contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-com-link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.contacts-address-link {
  width: 100%;
  height: 100%;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.contacts-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.contacts-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
/**
  |============================
  | footer
  |============================
*/
.footer {
  padding: 52px 0;
  background-color: #f7f7f7;
}
.footer-text {
  margin-right: auto;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}
.footer-box {
  display: flex;
}
.footer-list {
  display: flex;
  gap: 40px;
}

.footer-link {
  display: block;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--active-color);
}
